.contact {
    background-color: #40753a;
    border-radius: 10px;
    text-align: center;
    color: white;
  }
  
  .contact h2 {
    color: #0f0f0a;
  }
  
  .contact h3 {
    color: #0c0c0b;
    margin: 0;
  }
  